---
---
@charset "utf-8";
////////////

// Lux 4.5.0
// Bootswatch

//
// Color system
//

// brand colors

$primary-light: #f6f6ee;
$primary-mid: #babaab;
$primary-dark: #111109;

$secondary-light: #d4d4aa;
$secondary-mid: #8c8c73;
$secondary-dark: #4d4d39;

$tertiary-light: #888844;
$tertiary-mid: #666633;
$tertiary-dark: #4d3300;

$accent-light-pink: #ff0066;
$accent-dark-pink: #99003d;
$accent-light-gold: #cc8800;
$accent-dark-gold: #996600;

// end brand colors

//Bootstrap overrides
// Greys
$white: #fff;
$gray-100: #f6f6ee;
$gray-200: #f4f4f1;
$gray-300: #ddddd5;
$gray-400: #babaab;
$gray-500: #70705C;
$gray-600: #4d4d39;
$gray-700: #444422;
$gray-800: #2A2A22;
$gray-900: #111109;
$black: #000;

$primary: $primary-mid;
$secondary: $secondary-dark;
$success: $tertiary-light;
$info: $secondary-mid;
$warning: $accent-light-gold; 
$danger: $accent-dark-pink;
$light: $primary-light;
$dark: $primary-dark;

$link-color: $accent-light-gold;
$link-hover-color: darken($link-color, 15%);

$body-color: $primary-light;

// Overwriting boostrap variables

$blue: $accent-light-gold;
$gray: #4d4d39;
$gray-dark: #111109;

$pagination-hover-color: $link-hover-color;
$pagination-hover-border-color: $link-hover-color;

$breadcrumb-active-color: $secondary;

.hero-chulapa-image {
    h1 {
        color: $primary-light;
    }
}

.hero-chulapa {
    h1 {
        color:$primary-light;
        font-family: 'Montserrat', sans-serif;
    }
}

// this works! I think the variables just don't work for some reason?
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    margin: 2px 1px;
}

.btn-group {
    font-family: 'Montserrat', sans-serif;
    .dropdown-item {
        text-transform: uppercase;
    }   
}

// primary light text
// need to apply it to active, hover & disabled as well

.bg-primary, .btn-primary, .badge-primary {
    color: $dark;
    &:hover {
        color: $dark;
    }
    &.disabled {
        color: $dark; 
    }
    &:disabled {
        color: $dark;
    }
    &:not(:disabled):not(.disabled) {
        &:active,
        &.active {
            color: $dark;
        }
    }
}

.card.text-white.bg-primary.mb-3 {
    .card-header, .card-body {
        color: $dark;
    }
}

// outline-button with border

.btn-outline-primary, .btn-outline-secondary, .btn-outline-success, .btn-outline-info, .btn-outline-warning, .btn-outline-danger {
    border: 2px solid;
}

// pagination active
.page-link {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
}

.page-item {  
    &.active .page-link {
      color: $link-color;
      background-color: transparent;
      border: 2px solid $link-color;
    }
}

.breadcrumb-item {
    &.active {
        color: $breadcrumb-active-color;
    }
}

// round carousel indicators

.carousel-indicators li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.chulapa-border-card-index {
    border: none;
}

.hero-chulapa h1,
.splash-chulapa h1 {
  color: $dark !important;
}

.img-circle {
    border-radius: 50%;
}

.img-landing-banner {
    margin-bottom: 2em;
    max-height: 80vh;
}

.chulapa-footer-brand {
    opacity: 0.4
}

.text-standout {
    font-family:Montserrat,sans-serif;
    font-weight:600;
    line-height:1.2;
    text-transform: uppercase;
}

.montserrat {
    font-family:Montserrat,sans-serif;
    font-weight:600;
}

.short-story-info-card {
    margin-bottom: 40vh;
}

.story-spacer {
    margin: 100px;
    margin-bottom: 200px;
    background: transparent;
}

.jumbotron {
    background-color: transparent;
}

.chulapa-gradient {
background-color: rgba($primary, 1);
background: linear-gradient(
    180deg,
    rgba($primary,1) 0%,
    rgba($primary,0.5) 35%,
    rgba($primary,0) 100%
    ); 
}

// stops weird spacing for dropdown menu
.nav-item.dropdown {
    margin-right: 0px !important;
  }

.chulapa-subtitle {
    text-transform: none;
}

h5, .h5 {
    margin-bottom: 1rem;
}

.text-end {
    text-align: end;
}

p + p {
    text-indent: 2%;
}

// darkmode hr fix

.header-chulapa {
    hr {
        background-color: $secondary-dark;
    }
}