---
layout: minimal
title: Blog
subtitle: 'News and updates'
excerpt: Latest news
og_image: /assets/img/site/banner-blog.png
---
{%- include components/headers.html headertype= page.header_type imghero=page.header_img -%}

<main class="container-lg pb-3 flex-fill">
  <div class="row pt-2 mt-3">
    <section class="col-md-8 offset-md-2">
    {%- assign alldocs = paginator.posts -%}
      {% for post in alldocs limit: site.paginate %} 
      <div class="col-12 mb-2">
          <div class="card border-0">
            <div class="row g-0">
              <span class="col-sm-1 icon-span">
                <!-- <i class="fa-solid fa-skull"></i> -->
                {%- include snippets/skull-icon.html -%}   
              </span>
              <div class="col-sm">
                <article class="card-body chulapa-links-hover-only blog-bubble">
                  <a href="{{- post.url | absolute_url -}}"><h5 class="card-title">{{- post.title  | default: "---" -}}</h5></a>
                  {% if post.subtitle -%}<h6 class="card-subtitle mb-2 text-muted">{{- post.subtitle -}}</h6>{%- endif %}           
          {%- assign fallbackdesc = post.content | 
                        markdownify |  newline_to_br | 
                        replace:"<br />", ",.," | 
                        replace:"{{", ",.," | 
                        replace:"{%", ",.," | 
                        split: ",.," | first -%}
                  <div class="card-text">{{- post.excerpt | default: fallbackdesc | strip_html | 
                        escape_once -}}
                  </div>
                </article>
                {% if post.date or post.show_tags or post.show_categories %}
                <div class="card-footer border-0 chulapa-bg-transparent">
                {% if post.date -%}<p class="small text-right font-italic mb-1">
                {% if post.last_modified_at %}
                  <i class="fa fa-redo fa-xs" aria-hidden="true"></i> {% endif %}
                  <time datetime="{{- post.date | date_to_xmlschema -}}">{{- post.date | date: "%d/%m/%Y"  -}}</time></p>{%- endif %}
                  {%- for category in post.categories -%}
                  <a href="{{- category | replace: " ", "-" | prepend: "#" |
                      prepend: post.cloudcategory_url |
                      absolute_url | uri_escape -}}" class="badge chulapa-pill-bg-secondary mx-1">{{- category -}}
                  </a>
                  {%- endfor -%}
                  {%- for tag in post.tags -%}
                  <a href="{{- tag | replace: " ", "-" | prepend: "#" |
                      prepend: post.cloudtag_url |
                      absolute_url | uri_escape -}}" class="badge chulapa-pill-bg-primary mx-1">{{- tag -}}
                  </a>
                  {%- endfor -%}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
    </section>
  </div>
</main>

{%- include snippets/pagination.html -%}