<!-- image with text card -->
<!-- fix image placement -->
<!-- add button parameter as well-->
<!-- can I just do an alternating color thing for the border with even/odd childs? -->
<div class="card {% if include.card_class %}{{ include.card_class }}{% else %}border-light{% endif %} col=12 mb-3">
    <div class="row g-0">
    {%- if include.img_layout == "left" -%}
      <div class="col-4" style="background-image: url('{{ include.img_url }}')">
      </div>
      {%- endif -%}
      <div class="col-md-8">
        {%- if include.header -%}
        <div class="card-header">{{ include.header }}</div>
        {%- endif -%}
        <div class="card-body">
          {%- if include.title -%}
          <h5 class="card-title">{{ include.title }}</h5>
          {%- endif -%}
          <p class="card-text">{{ include.content }}</p>
          <!-- this is adding an underline which I don't like -->
          <button type="button" class="btn btn-secondary"><a href="/">Play on itch.io</a></button>
        </div>
      </div>
      {%- if include.img_layout == "right" -%}
      <div class="col-md-4">
        <img src="{% if include.img_url %}{{ include.img_url }}{% else %}/assets/img/placeholder/placeholder_image1to1.jpg{% endif %}" class="card-img" alt="social logo for text">
      </div>
      {%- endif -%}
    </div>
  </div>